$layout-large: 875px;
$linear-gradient: linear-gradient(to top, #2c5364, #203a43, #0f2027);
$font-family: "Lato", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $linear-gradient;
  font-family: $font-family;
  color: white;
  font-size: 22px;
}

@import "./menu";
@import "./home";
@import "./about";
@import "./projects";
@import "./footer";
