.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 40px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-content {
  width: 80%;
  max-width: 470px;
  margin: 10rem auto;
  text-align: center;
  transition: all 0.7s ease;
  animation: 2.7s headerDelay;
}

.my-work {
  border: 2px solid white;
  background-color: #162c33;
  color: white;
  width: 140px;
  height: 45px;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  top: 52px;
  font-family: "Quicksand", sans-serif;
}

@keyframes headerDelay {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
}
.hamburger span {
  display: block;
  margin: 5px 0;
  width: 28px;
  height: 3px;
  background-color: white;
  position: relative;
  right: 0px;
}

.front-end {
  font-size: 10px;
  color: #a3a3a5;
  letter-spacing: 2px;
}

.main-text {
  position: relative;
  top: 20px;
  font-size: 48px;
  letter-spacing: 0.5px;
}

.reality {
  color: #3e5f68;
  animation: 3.7s realityDelay;
}
@keyframes realityDelay {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

.my-work:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

@media (min-width: $layout-large) {
  .home {
    width: 768px;
    margin: -5rem auto;
    height: 92.5vh;
  }
  .front-end {
    font-size: 13px;
    color: #a3a3a5;
    letter-spacing: 2px;
  }
  .main-text {
    letter-spacing: 2px;
    font-size: 78px;
  }
  .my-work {
    width: 170px;
    height: 55px;
  }
}
