@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #16191a; */
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 22px;
}

.show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  color: black;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  background: #44a08d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #093637,
    #44a08d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #093637,
    #44a08d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  animation: 0.7s slideDown;
}

@keyframes slideDown {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close-nav-bar {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.6s ease-out;
}

.close-nav-bar:hover {
  color: white;
  transition: all 0.3s ease;
}

.left-box {
  grid-area: left;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
  /* height: 400px; */
}
.left-box-icon {
  display: flex;
}
.left-box-icons {
  width: 30px;
  height: 32px;
  margin-right: 5px;
  cursor: pointer;
}
.left-box-header {
  margin-bottom: 10px;
}
.email,
.phone {
  margin-bottom: 15px;
}
.right-box {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-area: right;
  /* margin: 0 auto; */
}

#sam-circle {
  width: 84px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

.nav-text {
  margin-bottom: 20px;
  margin-right: 50px;
  font-size: 38px;
  cursor: pointer;
}

.nav-text:hover {
  color: white;
  transition: all 0.3s ease;
}

nav {
  display: none;
}
.home {
  margin-top: 10px;
  /* height: 100vh; */
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 40px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.hamburger {
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
}
.hamburger span {
  display: block;
  margin: 5px 0;
  width: 28px;
  height: 3px;
  background-color: white;
  position: relative;
  right: 0px;
}

.header-content {
  width: 80%;
  max-width: 490px;
  margin: 18rem auto;
  text-align: center;
  animation: 2.7s headerDelay;
}
@keyframes headerDelay {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

.front-end {
  font-size: 10px;
  color: #a3a3a5;
  letter-spacing: 2px;
}

.main-text {
  position: relative;
  top: 20px;
  font-size: 48px;
  letter-spacing: 1.5px;
}

.reality {
  color: #3e5f68;
  animation: 3.7s realityDelay;
}
@keyframes realityDelay {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
.contact {
  border: 2px solid white;
  background-color: #162c33;
  color: white;
  width: 140px;
  height: 45px;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  top: 70px;
}

.contact:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

/* about */
.about {
  /* width: 80%; */
  max-width: 390px;
  margin: 0 auto;
  text-align: center;
}
.inner-box {
  margin: 0 auto;
}
.description {
  font-size: 16px;
  color: #a3a3a5;
  margin-bottom: 20px;
  padding: 15px;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-align: start;
}
.icon {
  width: 60px;
  margin-top: 30px;
}

#sam {
  width: 350px;
  margin: 20px 0px;
}

/* projects */

.project-container {
  width: 80%;
  max-width: 390px;
  margin: 5rem auto;
  text-align: center;

  animation: 1.7s slideLeft;

  position: relative;
  left: 0px;
  /* bottom: 0; */
}
@keyframes slideLeft {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 150;
    opacity: 1;
  }
}

.hide-project {
  display: none;
}
.projects {
  text-align: center;
  position: relative;

  top: 50px;
}

.pomodoro,
.calculator,
.drum {
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  transition: all 0.3s ease-out;
  box-shadow: 5px 5px 5px black;
}

.drum:hover {
  margin-right: 30px;
  box-shadow: 15px 15px 15px black;
}
.pomodoro:hover {
  margin-right: 30px;
  box-shadow: 15px 15px 15px black;
}
.calculator:hover {
  margin-right: 30px;
  box-shadow: 15px 15px 15px black;
}

h4 {
  margin: 25px 0;
}

.live {
  border: 2px solid white;
  background-color: #274956;
  color: white;
  width: 130px;
  margin-right: 15px;
  margin-bottom: 35px;
  height: 35px;
  border-radius: 25px;
  cursor: pointer;
}

.live:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

.source-code {
  font-size: 15px;
  cursor: pointer;
  color: white;
}

a {
  text-decoration: none;
}

.source-code:hover {
  margin-left: 2px;
  transition: all 0.3s ease;
}

/* footer */

.footer-upper-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid black;
  /* margin-bottom: 30px; */
}
.interested {
  text-align: center;
  width: 60%;
  font-size: 38px;
  margin-top: 30px;
}

.contact-footer {
  padding: 10px 20px;
  border: 2px solid white;
  color: white;
  background-color: #274956;

  cursor: pointer;
  margin: 30px;
}

.contact-footer:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

.footer-lower-box {
  width: 100%;
  height: 250px;
  background-color: white;
}
.footer-icon-box {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 60%;
}

.arrow-box {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  /* border: 1px solid pink; */
}
#arrow {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  cursor: pointer;
}

.footer-icons {
  width: 50px;
  height: 50px;
}

.skill-box {
  width: 90%;
  margin: 1rem auto;
}
ul {
  list-style-type: none;

  text-align: start;
  font-size: 16px;
}
li {
  margin-bottom: 30px;
  height: 35px;
}

.line {
  background-color: beige;
  height: 4px;
  width: 348px;
  position: absolute;
  margin-top: 30px;
}

.html-percentage,
.css-percentage,
.js-percentage,
.react-percentage,
.node-percentage,
.sass-percentage,
.git-percentage {
  background-color: darkorange;
  height: 4px;
  position: absolute;
  margin-top: 30px;
}

#html {
  animation: html 1s ease-out;
  width: 330px;
}

#css {
  animation: css 1s ease-out;
  width: 255px;
}

#javascript {
  animation: javascript 1s ease-out;
  width: 155px;
}

#react {
  animation: react 1s ease-out;
  width: 105px;
}

#node {
  animation: node 1s ease-out;
  width: 45px;
}
#sass {
  animation: sass 1s ease-out;
  width: 45px;
}
#git {
  animation: git 1s ease-out;
  width: 45px;
}

@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 330px;
  }
}

@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 255px;
  }
}
@keyframes javascript {
  0% {
    width: 0;
  }
  100% {
    width: 155px;
  }
}
@keyframes react {
  0% {
    width: 0;
  }
  100% {
    width: 105px;
  }
}
@keyframes node {
  0% {
    width: 0;
  }
  100% {
    width: 45px;
  }
}
@keyframes sass {
  0% {
    width: 0;
  }
  100% {
    width: 45px;
  }
}
@keyframes git {
  0% {
    width: 0;
  }
  100% {
    width: 45px;
  }
}
.tools {
  margin-bottom: 30px;
}
@media (min-width: 975px) {
  .left-box {
    align-items: flex-end;
    padding: 10rem;
    margin-top: 25px;
  }

  .right-box {
    align-items: flex-start;
    padding: 10rem;
  }

  .nav-text {
    font-size: 48px;
    transition: all 0.3s ease;
  }

  /* about */
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;

    max-width: 1390px;

    grid-template-areas:
      "box about"
      "box tools";
  }
  .header-content {
    margin: 20rem auto;
  }

  .image-box {
    grid-area: box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;

    margin-bottom: 30px;
  }
  .icon-box {
    grid-area: about;
    padding: 3rem;
    /* margin-top: 50px; */
  }

  .skill-box {
    grid-area: tools;
    width: 100%;
    height: 490px;
  }
  .about-me {
    text-align: start;
    margin-bottom: 15px;
  }
  .about-line {
    border: 1px solid grey;
    margin: 20px 0;
  }
  .bottom-line {
    border: 1px solid grey;
    width: 450px;
    margin-top: 96px;

    /* right: 650px;
    bottom: 30px; */
  }

  .description {
    text-align: start;
    width: 360px;
    padding: 0;
  }

  .tools {
    text-align: start;
    margin: 40px 0;
  }
  #sam {
    width: 450px;
    object-fit: cover;
  }

  /* project */
  .project-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "pomodoro calc drum";
    display: flex;
    justify-content: space-evenly;
  }

  .project-container {
    max-width: 100%;
  }

  .pomodoro-box {
    grid-area: pomodoro;
    margin-right: 50px;
  }

  .calculator-box {
    grid-area: calc;
    margin-right: 50px;
  }
  .drum-box {
    grid-area: drum;
  }

  /* footer */
  .footer-upper-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    margin: 0 auto;
    /* padding: 10rem; */
    width: 100%;
    height: 300px;
  }

  .footer-lower-box {
    width: 100%;
    height: 250px;
    background-color: white;
  }
  .interested {
    width: 275px;
    /* margin-right: 50px; */
    text-align: start;
    font-size: 28px;
  }
  .contact-line {
    display: block;
    margin-top: 30px;
    margin-right: 125px;
    width: 420px;
    height: 0.3px;
    background-color: #a3a3a5;
    /* position: relative;
    right: 47px; */
    cursor: pointer;
  }
  .arrow-box {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    /* border: 1px solid pink; */
  }
  #arrow {
    width: 80px;
    margin: 0 auto;
    cursor: pointer;
  }

  .footer-icon-box {
    width: 387px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid pink; */
  }
  .footer-icons {
    width: 50px;
    /* margin-right: 35px; */
  }
}
